div{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    
}
p{
font-size:20px;
}
label{
    font-size:18px;
    color:teal;
}
#div100{
    position:fixed;
    bottom:0;
    font-size:25px;
    text-align: center;
    background-color: teal;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
}